:root {
  --font-family-place-title: 'Roboto', sans-serif;
  --font-family: 'Roboto', sans-serif;
}

#add-review-button {
    display: flex;
    height: 3rem;
    width: 8rem;
    border-radius:7px;
    font-size: medium;
    margin: 0.25rem 2rem;
}

#place-img {
    height: 90%;
    width: 40%;
    margin: 2.5%;
    border-radius: 10px;
}

h3 {
    font-family: var(--font-family-place-title);
    font-size: 30px;
    background-color: var(--primary-color);
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10dvh;
    margin: 1dvh 5dvh 1dvh 5dvh;
    align-content: center;
    text-align: center;
}

.review-card {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-place-title);
    font-size: 15px;
    background-color: var(--secondary-color);
    border: 1px solid #fff;
    border-radius: 10px;
    width: 20rem;
    height: 100%;
    margin: 0rem 1.5rem;
    padding: 5px;
    text-align: left;
    color: #fff;
}

#existing-review{
    display: flex;
    flex-direction: row;
    width: 70rem;
    height: 100%;
    color: #333;
}

#log-user-review{
    width: 30dvh;
    height: 40dvh;
}

#amenities{
    font-family: var(--font-family-place-title);
    font-size: 30px;
    background-color: var(--primary-color);
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10dvh;
    margin: 0.75rem;
    align-content: center;
    text-align: center;
}

#place-text {
    display: flex;
    flex-direction: column;
    width: 55%;
    font-size: 25px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 2.5% 0;
    align-content: center;
    text-align: center;
}

#place {
    display: flex;
    flex-direction: row;
    margin-top: 11.5dvh;
    height: 55dvh;
}

#place-details {
    background-color: var(--secondary-color);
    margin-left: 20%;
    width: 60%;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 3dvh;
}

#amenities {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.amenities-card {
    margin: 5px;
}

#see-more-review {
    background: linear-gradient(to top, #333 0%, #f4f4f4 75%);
    border: 0px;
    padding: 0%;
    height: 5rem;
    margin: 0rem;
    font: 15px var(--font-family-place-title);
}
    
#reviews {
    width: 90%;
    height: 24dvh;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 5%;
}

/* --- Review popup ---*/

.popup-frame{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(104, 104, 104, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 98;
    border-radius: 25px 25px 0px 0px ;
}

.open{
    display: flex;
}

#review-form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 50dvh;
    width: 45dvh;
    padding: 2dvh;
    background-color: #ddd;
    color: #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#your-title-rating {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

#your-text-rating {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

#your-rating {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  margin: 2% 0 0 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
}

select {
    margin: 0.5rem;
    width: 15%;
}

textarea {
    padding: 7px 6px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
    height: 25%;
}

input {
    padding: 7px 6px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
}

#place-info {
    margin-top: 1dvh;
    align-content:start;
    height: 20dvh;
}

#place-details li{
    font-size: 20px;
    margin-left: 5dvh;
    display: flex;
}

#place-description {
    margin-top: 2dvh;
}

.description {
    width: 90%;
    min-width: 90%;
    text-align: start;
}

/* --- personnel review --- */

#option-owne-review {
    display: flex;
    flex-direction: row;
    bottom: 0;
    margin: 2.5%;
    height: 20%;
}

#personal-review-title {
    height: 10%;
}

#personal-review-text {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 2% 3%;
    padding: 2% 3%;
    height: 45%;
}

#personal-review-rating {
    height: 10%;
}

#personal-review-owner {
    align-items: center;
    text-align: end;
    margin-right: 5%;
    height: 10%;
}

#personal-review-update-button, #personal-review-delete-button {
    margin: 2%;
    align-items: center;
    text-align: center;
}

#add-review-button {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: #fff;
}

#add-review-button:hover {
    color: var(--primary-color);
}

.reviews-owner {
    align-items: center;
    text-align: end;
    height: 7.5%;
    width: 95%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.reviews-title {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    height: 12.5%;
    width: 98%;
    margin-bottom: 1%;
}

.reviews-text {
    display: flex;
    width: 95%;
    height: 100%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 1% 2.5%;
    padding: 1.5%;
}

.reviews-rating {
    display: flex;
    height: 10%;
    width: 98%;
    margin: 3%;
}

#popup-submit-button {
    margin: 2% 25%;
    height: 5dvh;
}

#quit-popup {
    align-self: self-end;
    margin: 0%;
    width: 4dvh;
    height: 4dvh;
}

#review-content {
    height: 15dvh;
}
